h1{
    background-color: rgb(243, 167, 167);
    font-family: 'Times New Roman', Times, serif;
}

.button-class{
    background-color: rgb(64, 243, 64);
    border: none;
    border-radius: 7%;
    width: 6em;
    height: 2em;

}